SNOWFLAKE_ACCOUNT=<organization-account>
SNOWFLAKE_USER=CLIMBERS_SVC
SNOWFLAKE_ROLE=CLIMBERS_ROLE
SNOWFLAKE_WAREHOUSE=CLIMBERS_WH
SNOWFLAKE_DATABASE=CLIMBERS_DB
SNOWFLAKE_SCHEMA=ANALYTICS
SNOWFLAKE_PRIVATE_KEY_PATH=<path-to-private-key>
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=